@layout('layouts/main')

@section('body')
<div id="main">
  <h1>Game</h1>
  <p>Room code: {{ room.code }}</p>
</div>
@endsection

@section('script')
<script>
  var roomCode = "{{ room.code }}"
  var socket = io();

  socket.on('connect', () => {
    socket.emit('log', `User(${socket.id}) testing log`)
  });

  socket.on('log', data => {
    console.log(data);
  });

  var join = () => {socket.emit('join', {roomCode})}
  var leave = () => {socket.emit('leave', {roomCode})}
</script>
@endsection
