@layout('layouts/main')

@section('body')
<div class="container">
    <h1>Game</h1>
</div>
@endsection

@section('script')
<script>
  var roomId = "{{ roomId }}"
  var socket = io();

  socket.on('connect', () => {
    // either with send()
    socket.emit('log', 'Hello we are here to play')
  });

  // handle the event sent with socket.send()
  socket.on('log', data => {
    console.log(data);
  });

  var joinRoom = () => {socket.emit('join', {roomId})}
</script>
@endsection
