@layout('layouts/main')

@section('body')
<div class="container">
    <h1>Homepage</h1>

    @if(flashMessages.has('error'))
      <span>{{ flashMessages.get('error') }}</span>
    @endif

    <form action="/" method="post">
      <input type="hidden" name="game" value="codenames">
      <input type="submit" value="Codenames">
    </form>
</div>
@endsection
